.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: ;
  background: linear-gradient(
    135deg,
    #ACAE51 0%,
    #ACAE51 50%,
    #5351AE 50%,
    #5351AE 100%
  );
}
